<body>
    <div class="Settings">
        <div class="UserText">
            <img src="https://cdn.discordapp.com/attachments/762293239519903764/1021881027867717683/icons8-user-90.png">
            <h2>User Settings</h2>
        </div>
        <div class="SettingsButtons">
            <button onclick="DeleteAccount()" class="NormalButton">Delete Account</button>
        </div>
        <div class="Confirm">
            
        </div>
    </div>
</body>