<div class="text-center">
    <div class="SignIn">
        <h2>Welcome back!</h2>
    </div>
    <div class="Inputs">
        <div class="Sign-in">
            <h2 class="Sign-in-item">New Password: </h2>
            <input name="Email" class="Sign-in-item" type="password" id="NewPass-Input">
        </div>
        <div class="Sign-in">
            <h2 class="Sign-in-item">Code: </h2>
            <input name="Email" class="Sign-in-item" id="Code-Input">
        </div>
        <button onclick="ChangePassword()" class="NormalButton">Change Password</button>
    </div>
    <div class="error"></div>
</div>