<div class="text-center">
    <div class="SignIn">
        <h2>Welcome back!</h2>
    </div>
    <div class="Inputs">
        <div class="Sign-in">
            <h2 class="Sign-in-item">Email: </h2>
            <input name="Email" class="Sign-in-item" id="RecEmail-Input">
        </div>
        <button onclick="SendEmail()" class="NormalButton">Send Email</button>
    </div>
    <div class="error"></div>
</div>