@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <div class="SignIn">
        <h2>Hey good to have you!</h2>
    </div>
    <div class="Inputs">
        <div class="Sign-in">
            <h2 class="Sign-in-item">Code: </h2>
            <input name="Check" class="Sign-in-item" id="Guid-Input">
        </div>
        <button class="NormalButton" onclick="Guid()">Check</button>
    </div>
    <div class="error"></div>
</div>
