@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <div class="SignIn">
        <h2>Hey good to have you!</h2>
    </div>
    <div class="Inputs">
        <div class="Sign-in">
            <h2 class="Sign-in-item">Email: </h2>
            <input name="Email" class="Sign-in-item" id="Email-Input">
        </div>
        <div class="Sign-in">
            <h2 class="Sign-in-item">School Name: </h2>
            <input name="Name" class="Sign-in-item" id="Name-Input">
        </div>
        <div class="Sign-in">
            <h2 class="Sign-in-item">Password: </h2>
            <input name="Password" type="password" class="Sign-in-item" id="Password-Input">
        </div>
        <button onclick="SignUpFun()" class="NormalButton">Sign Up</button>
    </div>
</div>
