
.Main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Main h2{
  font-size: 3vw;
}
.Menu{
  position: fixed;
  font-size: 3rem;
  top: 0;
  margin-left: 0.6rem;
  text-decoration: underline;
  color:blue;
  cursor: pointer;
} 
#WelcomeName{
  display: flex;
  justify-content: center;
  font-size: 3vw;
}
.Bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
}
.Bar button{
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 2vw;
  color:dodgerblue;
}
